{% extends layout %}

{% load i18n %}

{% block title %}{% translate "Kyçu" %}{% endblock %}

{% block content %}

<form class="form w-100" novalidate="novalidate" id="kt_sign_in_form" method="post" data-kt-redirect-url="/" action="{% url 'auth:signin' %}">
    {% csrf_token %}
    <div class="text-center mb-11">
        <div class="fw-bolder text-primary mb-3 fs-5">
            SISTEMI I PËRPUNIMIT TË IMAZHEVE SATELITORE PËRMES CNN
        </div>
    </div>
    <div class="separator separator-content my-14">
        <span class="w-200px text-gray-500 fw-semibold fs-7">Kyçu përmes kredencialeve tuaja</span>
    </div>
    <div class="fv-row mb-8">
        <input type="text" placeholder="Emri përdoruesit" name="username" autocomplete="off" class="form-control bg-transparent" />
    </div>
    <div class="fv-row mb-3">
        <input type="password" placeholder="Fjalëkalimi" name="password" autocomplete="off"
            class="form-control bg-transparent" />
    </div>
    <div class="d-grid mb-10">
        <button type="submit" id="kt_sign_in_submit" class="btn btn-primary">
            {% include 'partials/general/_button-indicator.html' with label='Sign In' %}
        </button>
    </div>
    <div class="text-gray-500 text-center fw-semibold fs-6">
        Nuk jeni anëtar?

        <a href="signup" class="link-primary fw-bold">
            Regjistrohu
        </a>
    </div>
</form>

{% endblock content %}