{% extends layout %}

{% load i18n %}

{% block title %}{% translate "Regjistrohu" %}{% endblock %}

{% block content %}

<form class="form w-100" novalidate="novalidate" id="kt_sign_up_form" method="post" data-kt-redirect-url="/" action="{% url 'auth:signup' %}">
    {% csrf_token %}
    <div class="text-center mb-11">
        <div class="fw-bolder text-primary mb-3 fs-5">
            SISTEMI I PËRPUNIMIT TË IMAZHEVE SATELITORE PËRMES CNN
        </div>
    </div>
    <div class="separator separator-content my-10"><span class="w-125px text-gray-500 fw-bold fs-7">Regjistrohu në
            sistem</span></div>


    <div class="fv-row mb-5"><label class="form-label fs-6 fw-bold text-gray-900">Emri përdoruesit</label>
        <input type="text" placeholder="Emri përdoruesit" name="username" autocomplete="off"
            class="form-control  bg-transparent" />
    </div>
    <div class="fv-row mb-5"><label class="form-label fs-6 fw-bold text-gray-900">Emri</label>
        <input type="text" placeholder="Emri" name="first-name" autocomplete="off"
            class="form-control bg-transparent" />
    </div>
    <div class="fv-row mb-5"><label class="form-label fs-6 fw-bold text-gray-900">Mbiemri</label>
        <input type="text" placeholder="Mbiemri" name="last-name" autocomplete="off"
            class="form-control bg-transparent" />
    </div>
    <div class="fv-row mb-5">
        <label class="form-label fs-6 fw-bold text-gray-900">Email</label>
        <input type="text" placeholder="Email" name="email" autocomplete="off" class="form-control bg-transparent" />
        <span class="text-danger fw-bold"></span>
    </div>
    <div class="fv-row mb-5" data-kt-password-meter="true"><label
            class="form-label fs-6 fw-bold text-gray-900">Fjalëkalimi</label>
        <div class="mb-1">
            <div class="position-relative mb-3">
                <input class="form-control bg-transparent" type="password" placeholder="Fjalëkalimi" name="password1"
                    autocomplete="off" />

                <span class="btn btn-sm btn-icon position-absolute translate-middle top-50 end-0 me-n2"
                    data-kt-password-meter-control="visibility">
                    <i class="bi bi-eye-slash fs-2"></i>
                    <i class="bi bi-eye fs-2 d-none"></i>
                </span>
            </div>
            <div class="d-flex align-items-center mb-3" data-kt-password-meter-control="highlight">
                <div class="flex-grow-1 bg-secondary bg-active-success rounded h-5px me-2"></div>
                <div class="flex-grow-1 bg-secondary bg-active-success rounded h-5px me-2"></div>
                <div class="flex-grow-1 bg-secondary bg-active-success rounded h-5px me-2"></div>
                <div class="flex-grow-1 bg-secondary bg-active-success rounded h-5px"></div>
            </div>
        </div>
        <div class="text-muted">
            Përdorni 8 ose më shumë karaktere me një përzierje shkronjash, numrash dhe simbolesh
        </div>
    </div>
    <div class="fv-row mb-8">
        <label class="form-check form-check-inline">
            <input class="form-check-input" type="checkbox" name="toc" value="1" />
            <span class="form-check-label fw-semibold text-gray-700 fs-base ms-1">
                Pranoj kushtet <a href="#" class="ms-1 link-primary">Terms</a>
            </span>
        </label>
    </div>
    <div class="d-grid mb-5">
        <button type="submit" id="kt_sign_up_submit" class="btn btn-primary">
            {% include 'partials/general/_button-indicator-register.html' with label='Sign Up' %}
        </button>
    </div>
    <div class="text-gray-500 text-center fw-semibold fs-6">
        Keni tashmë një llogari?

        <a href="signin" class="link-primary fw-bold">
            Kyçu
        </a>
    </div>
</form>
{% endblock content %}