{% extends layout %}

{% load i18n %}

{% block title %}{% translate "Ballina" %}{% endblock %}

{% block content %}

<div class="row g-5 gx-xl-10 mb-5 mb-xl-10">
    <div class="col-md-6 col-lg-6 col-xl-6 col-xxl-3 mb-md-5 mb-xl-10">
        <div class="card card-flush h-md-100 mb-5 mb-xl-10">
            <div class="card-header pt-5">
                <div class="card-title d-flex flex-column">
                    <div class="d-flex align-items-center">
                        <span class="fs-2hx fw-bold text-gray-900 me-2 lh-1 ls-n2">91.02%</span>
                        <span class="badge badge-light-success fs-base">
                            <i class="ki-duotone ki-arrow-up fs-5 text-success ms-n1"><span class="path1"></span><span
                                    class="path2"></span></i>
                            Shkëlqyer
                        </span>
                    </div>
                    <span class="text-gray-500 pt-1 fw-semibold fs-6">Klasifikimi i modelit Senitel</span>
                </div>
            </div>
            <div class="card-body pt-2 pb-4 d-flex flex-wrap align-items-center">
                <div class="d-flex flex-center me-5 pt-2">
                    <div class="symbol symbol-70px symbol-circle me-5">
                        <span class="symbol-label bg-light-success">
                            <i class="ki-duotone ki-abstract-24 fs-3x text-success"><span class="path1"></span><span class="path2"></span></i>                               
                        </span>                
                    </div>
                </div>
                <div class="d-flex flex-column content-justify-center flex-row-fluid">
                    <div class="d-flex fw-semibold align-items-center">
                        <div class="text-gray-500 flex-grow-1 me-4">Validation</div>
                        <div class="fw-bolder text-gray-700 text-xxl-end">90.41%</div>
                    </div>
                    <div class="d-flex fw-semibold align-items-center my-3">
                        <div class="text-gray-500 flex-grow-1 me-4">Precision</div>
                        <div class="fw-bolder text-gray-700 text-xxl-end">97.61%</div>
                    </div>
                    <div class="d-flex fw-semibold align-items-center">
                        <div class="text-gray-500 flex-grow-1 me-4">Other</div>
                        <div class="fw-bolder text-gray-700 text-xxl-end">94.33%</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-6 col-lg-6 col-xl-6 col-xxl-3 mb-md-5 mb-xl-10">
        <div class="card card-flush h-md-100 mb-5 mb-xl-10">
            <div class="card-header pt-5">
                <div class="card-title d-flex flex-column">
                    <div class="d-flex align-items-center">
                        <span class="fs-2hx fw-bold text-gray-900 me-2 lh-1 ls-n2">87.50%</span>
                        <span class="badge badge-light-success fs-base">
                            <i class="ki-duotone ki-arrow-up fs-5 text-success ms-n1"><span class="path1"></span><span
                                    class="path2"></span></i>
                            Përmirësime
                        </span>
                    </div>
                    <span class="text-gray-500 pt-1 fw-semibold fs-6">Klasifikimi i modelit të pemës</span>
                </div>
            </div>
            <div class="card-body pt-2 pb-4 d-flex flex-wrap align-items-center">
                <div class="d-flex flex-center me-5 pt-2">
                    <div class="symbol symbol-70px symbol-circle me-5">
                        <span class="symbol-label bg-light-danger">
                            <i class="ki-duotone ki-abstract-25 fs-3x text-danger"><span class="path1"></span><span class="path2"></span></i>                               
                        </span>                
                    </div>
                </div>
                <div class="d-flex flex-column content-justify-center flex-row-fluid">
                    <div class="d-flex fw-semibold align-items-center">
                        <div class="text-gray-500 flex-grow-1 me-4">Validation</div>
                        <div class="fw-bolder text-gray-700 text-xxl-end">90.41%</div>
                    </div>
                    <div class="d-flex fw-semibold align-items-center my-3">
                        <div class="text-gray-500 flex-grow-1 me-4">Precision</div>
                        <div class="fw-bolder text-gray-700 text-xxl-end">97.61%</div>
                    </div>
                    <div class="d-flex fw-semibold align-items-center">
                        <div class="text-gray-500 flex-grow-1 me-4">Other</div>
                        <div class=" fw-bolder text-gray-700 text-xxl-end">94.33%</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-6 col-lg-6 col-xl-6 col-xxl-3 mb-md-5 mb-xl-10">
        <div class="card card-flush h-md-100 mb-5 mb-xl-10">
            <div class="card-header pt-5">
                <div class="card-title d-flex flex-column">
                    <div class="d-flex align-items-center">
                        <span class="fs-2hx fw-bold text-gray-900 me-2 lh-1 ls-n2">89.40%</span>
                        <span class="badge badge-light-success fs-base">
                            <i class="ki-duotone ki-arrow-up fs-5 text-success ms-n1"><span class="path1"></span><span
                                    class="path2"></span></i>
                            Përmirësime
                        </span>
                    </div>
                    <span class="text-gray-500 pt-1 fw-semibold fs-6">Klasifikimi i modelit kaggle</span>
                </div>
            </div>
            <div class="card-body pt-2 pb-4 d-flex flex-wrap align-items-center">
                <div class="d-flex flex-center me-5 pt-2">
                    <div class="symbol symbol-70px symbol-circle me-5">
                        <span class="symbol-label bg-light-primary">
                            <i class="ki-duotone ki-abstract-36 fs-3x text-primary"><span class="path1"></span><span class="path2"></span></i>                               
                        </span>                
                    </div>
                </div>
                <div class="d-flex flex-column content-justify-center flex-row-fluid">
                    <div class="d-flex fw-semibold align-items-center">
                        <div class="text-gray-500 flex-grow-1 me-4">Validation</div>
                        <div class="fw-bolder text-gray-700 text-xxl-end">90.41%</div>
                    </div>
                    <div class="d-flex fw-semibold align-items-center my-3">
                        <div class="text-gray-500 flex-grow-1 me-4">Precision</div>
                        <div class="fw-bolder text-gray-700 text-xxl-end">97.61%</div>
                    </div>
                    <div class="d-flex fw-semibold align-items-center">
                        <div class="text-gray-500 flex-grow-1 me-4">Other</div>
                        <div class=" fw-bolder text-gray-700 text-xxl-end">94.33%</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-6 col-lg-6 col-xl-6 col-xxl-3 mb-md-5 mb-xl-10">
        <div class="card card-flush bgi-no-repeat bgi-size-contain bgi-position-x-end h-md-100 mb-5 mb-xl-10"
            style="background-color: #F1416C;background-image:url('/metronic8/demo1/assets/media/patterns/vector-1.png')">
            <div class="card-header pt-5">
                <div class="card-title d-flex flex-column">
                    <span class="fs-2hx fw-bold text-white me-2 lh-1 ls-n2">3</span>
                    <span class="text-white opacity-75 pt-1 fw-semibold fs-6">Datasete</span>
                </div>
            </div>
            <div class="card-body d-flex align-items-end pt-0">
                <div class="d-flex align-items-center flex-column mt-3 w-100">
                    <div class="d-flex justify-content-between fw-bold fs-6 text-white opacity-75 w-100 mt-auto mb-2">
                        <span>25 Foldera</span>
                        <span>72%</span>
                    </div>

                    <div class="h-8px mx-3 w-100 bg-white bg-opacity-50 rounded">
                        <div class="bg-white rounded h-8px" role="progressbar" style="width: 72%;" aria-valuenow="50"
                            aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock content %}