{% extends 'layout/master.html' %}

{% block layout %}
<style>
	.hidden-image {
		visibility: hidden;
	}
</style>
<div class="d-flex flex-column flex-root" id="kt_app_root">
	<div class="d-flex flex-column flex-lg-row flex-column-fluid">
		<div class="d-flex flex-column flex-lg-row-fluid w-lg-25 p-10 order-2 order-lg-1">
			<div class="d-flex flex-center flex-column flex-lg-row-fluid">
				<div class="w-lg-450px p-10">
					{% block content %}
					{% endblock content %}
				</div>
			</div>
			<div class="d-flex flex-center flex-wrap px-5">
				<div class="d-flex fw-semibold text-primary fs-base">
					<a href="https://neurohive.io/en/popular-networks/vgg16/" class="px-5" target="_blank">Rreth
						VGG16</a>
					<a href="https://www.tensorflow.org/api_docs/python/tf/keras/applications/VGG16" class="px-5"
						target="_blank">Shkarko VGG16</a>
					<a href="https://arxiv.org/abs/1409.1556" class="px-5" target="_blank">VGG16 Punim kërkimor</a>
				</div>
			</div>
		</div>

		<div class="d-flex flex-lg-row-fluid w-lg-50 bgi-size-cover bgi-position-center order-1 order-lg-2"
			style="background-image: url({% static 'media/misc/pexels-spacex.jpg' %})">
			<div class="d-flex flex-column flex-center py-7 py-lg-15 px-5 px-md-15 w-100">
				<a href="/" class="mb-12">
					<img alt="Logo" src="{% static 'media/logos/spacex-removebg.png' %}" class="h-60px h-lg-250px" />
				</a>
				<img class="d-none d-lg-block mx-auto w-275px w-md-50 w-xl-500px mb-10 mb-lg-20 hidden-image"
					src="{% static 'media/misc/satellite-on.png' %}" alt="" />
				<h1 class="d-none d-lg-block text-white fs-1qx fw-bolder text-center mb-7">
					Shpejtësi, Efikasitet dhe Produktivitet me VGG16
				</h1>
				<div class="d-none d-lg-block text-white fs-base text-center">
					Eksplorimi në fuqinë transformuese të rrjetit neural konvolucion <span
						class="opacity-75-hover text-warning fw-bold me-1">VGG16</span>, një nga mjetet më të avancuara
					në fushën e vizionit kompjuterik. VGG16 është thelbësor për analizën e <span
						class="opacity-75-hover text-warning fw-bold me-1">imazheve satelitore</span>, duke ofruar një
					metodë të re dhe më të efikasme për të interpretuar dhe përpunuar të dhënat që marrim nga <span
						class="opacity-75-hover text-warning fw-bold me-1">hapsira</span>.
				</div>
			</div>
		</div>
	</div>
</div>

{% endblock layout %}