<div class="app-navbar flex-shrink-0">
	<div class="app-navbar-item align-items-stretch ms-1 ms-md-4">
		{% include 'partials/search/_dropdown.html' %}
	</div>
	<div class="app-navbar-item ms-1 ms-md-4">
		<div class="btn btn-icon btn-custom btn-icon-muted btn-active-light btn-active-color-primary w-35px h-35px"
			data-kt-menu-trigger="{default: 'click', lg: 'hover'}" data-kt-menu-attach="parent"
			data-kt-menu-placement="bottom-end">{% getIcon 'night-day' 'fs-1' %}</div>
		{% include 'partials/mode/_mode.html' %}
	</div>
</div>