{% extends layout %}

{% load i18n %}

{% block title %}{% translate "Menaxhimi i imazhit" %}{% endblock %}

{% block content %}

<form class="form mt-5" action="#" method="post">
    <div class="fv-row">
        <div class="dropzone" id="kt_dropzonejs_example_1">
            <div class="dz-message needsclick">
                <i class="ki-duotone ki-file-up fs-3x text-primary"><span class="path1"></span><span
                        class="path2"></span></i>
                <div class="ms-4">
                    <h3 class="fs-5 fw-bold text-gray-900 mb-1">Kliko për të ngarkuar fotografitë.</h3>
                    <span class="fs-7 fw-semibold text-gray-500">Ngarko deri në 10 fotografi</span>
                </div>
            </div>
        </div>
    </div>
</form>

<script>
    document.addEventListener("DOMContentLoaded", function () {
        new Dropzone("#kt_dropzonejs_example_1", {
            url: "https://keenthemes.com/scripts/void.php",
            paramName: "file",
            maxFiles: 10,
            maxFilesize: 10, // MB
            addRemoveLinks: true,
            accept: function (file, done) {
                if (file.name == "wow.jpg") {
                    done("Naha, you don't.");
                } else {
                    done();
                }
            }
        });
    });
</script>

{% endblock content %}