{% load static %}
{% load menu_tags %}

<div class="app-sidebar-menu overflow-hidden flex-column-fluid">
    <div id="kt_app_sidebar_menu_wrapper" class="app-sidebar-wrapper hover-scroll-overlay-y my-5" data-kt-scroll="true"
        data-kt-scroll-activate="true" data-kt-scroll-height="auto"
        data-kt-scroll-dependencies="#kt_app_sidebar_logo, #kt_app_sidebar_footer"
        data-kt-scroll-wrappers="#kt_app_sidebar_menu" data-kt-scroll-offset="5px" data-kt-scroll-save-state="true">
        <div class="menu menu-column menu-rounded menu-sub-indention px-3" id="kt_app_sidebar_menu" data-kt-menu="true"
            data-kt-menu-expand="false">
            <div class="menu-item">
                <a class="menu-link {% active 'index' 'dashboards' root_path=True %}"
                    href="{% url 'dashboards:index' %}">
                    <span class="menu-icon">{% getIcon 'element-12' 'fs-2' %}</span>
                    <span class="menu-title fs-6">Ballina</span>
                </a>
            </div>
            <div class="menu-item">
                <a class="menu-link {% active 'management' 'parameters' %}" href="{% url 'parameters:management' %}">
                    <span class="menu-icon">{% getIcon 'setting-4' 'fs-2' %}</span>
                    <span class="menu-title fs-6">Parametrat e modelit</span>
                </a>
            </div>

            <div data-kt-menu-trigger="click" class="menu-item menu-accordion {% menu_active 'upload' 'list' 'result' %}">
                <span class="menu-link">
                    <span class="menu-icon">{% getIcon 'chart-line-star' 'fs-2' %}</span>
                    <span class="menu-title fs-6">Menaxhimi i datasetit</span>
                    <span class="menu-arrow"></span>
                </span>
                <div class="menu-sub menu-sub-accordion">
                    <div class="menu-item">
                        <a class="menu-link {% active 'upload' 'uploadDataset' %}" href="{% url 'uploadDataset:upload' %}">
                            <span class="menu-icon">{% getIcon 'file-up' 'fs-2' %}</span>
                            <span class="menu-title">Ngarko datasetin</span>
                        </a>
                    </div>
                    <div class="menu-item">
                        <a class="menu-link {% active 'list' 'datasetList' %}" href="{% url 'datasetList:list' %}">
                            <span class="menu-icon">{% getIcon 'search-list' 'fs-2' %}</span>
                            <span class="menu-title">Lista e dataseteve</span>
                        </a>
                    </div>
                </div>
            </div>
            <!-- <div class="menu-item">
                <a class="menu-link {% active 'index' 'visualization' %}" href="{% url 'visualization:index' %}">
                    <span class="menu-icon">{% getIcon 'chart-pie-3' 'fs-2' %}</span>
                    <span class="menu-title fs-6">Performanca e Modeleve</span>
                </a>
            </div> -->
            <div class="menu-item">
                <a class="menu-link {% active 'development' 'research' %}" href="{% url 'research:development' %}">
                    <span class="menu-icon">{% getIcon 'search-list' 'fs-2' %}</span>
                    <span class="menu-title fs-6">Klasifikimi i imazheve</span>
                </a>
            </div>
            <div class="menu-item">
                <a class="menu-link {% active 'index' 'manual' %}" href="{% url 'manual:index' %}">
                    <span class="menu-icon">{% getIcon 'abstract-29' 'fs-2' %}</span>
                    <span class="menu-title fs-6">Manuali i përdorimit</span>
                </a>
            </div>
        </div>
    </div>
</div>